-- Generate a corpus of 1000 random-ish documents in the format PyConTextPipeline expects
WITH x AS (
	SELECT TOP 1000 i.DOCUMENT_ID_COLUMN, t.DOCUMENT_TEXT_COLUMN
	FROM [DATABASE].[SCHEMA].[DOCUMENT_ID_TABLE] i
	INNER JOIN [DATABASE].[SCHEMA].[DOCUMENT_TEXT_TABLE] t on i.DOCUMENT_ID_COLUMN = t.DOCUMENT_ID_COLUMN
	ORDER BY NEWID()
)
SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) ROW_NUMBER_COLUMN, DOCUMENT_ID_COLUMN, DOCUMENT_TEXT_COLUMN
INTO [DATABASE].[SCHEMA].[NLP_INPUT_TABLE]
FROM x;
